// Estilos do componente tarefa-item
.TarefaContainer, .TarefaEditando {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;
    
    width: 100%;
    background-color: srgb(255, 255, 255, 1);
    align-items: center;
    border-bottom: 1px solid white;
}

li{
    list-style: none;
}