/*  estilo global da aplicação 
    aplicado a qualquer componente dentro de body
*/ 
html, body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    width: 100vw;
    height: 100vh;
}

/*
    estilo para o título da aplicação
    ou qualquer outro h1
*/
h1 {
    text-align: center;
    margin-top: 20px;
    background-color: gray;
}
// estilo global
* {
    box-sizing: border-box;
}